body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDA853;
}
  
/* Container to hold the circle */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap:0;
    position: relative; /* Allow absolute positioning of the boxes */
}

/* Circle styling */
.circle {
    width: 600px;
    height: 600px;
    background-image: url("treta\ copy.png");
    background-size: cover;
    border-radius: 50%;
    animation: popUp 2s ease-out forwards, fadeOut 2s 2s forwards; /* Adding fadeOut after popUp */
    position: absolute; /* Center the circle */
}



/* PopUp animation */
@keyframes popUp {
    0% {
        transform: scale(0); /* Start small */
        opacity: 0; /* Initially hidden */
    }
    100% {
        transform: scale(1); /* End at normal size */
        opacity: 1; /* Fully visible */
    }
}

/* FadeOut animation */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0); /* Shrink the circle */
    }
}